<html>
	<head></head>
	<body>
		<h3 style="text-align: center;">Welcome to solutionBuddy!</h3>
		<form action="/postIssue">
			<input type="submit" style=" border: 2px solid red;
			border-radius: 4px; height: 30px; width: 10%;" value="Post Issue" />
		</form>
	</body>
</html>