<html>
	<head></head>
	<body>
		<h3 style="color: rgb(59, 122, 59);">Successfully Submitted</h3>
		<form method="GET" action="/">
			<button type="submit" style=" border: 2px solid red;
			border-radius: 4px; height: 30px; width: 30%;">Return to Home</button>
		</form>
	</body>
</html>